<select name="webmenu" id="webmenu">
   <option value="calendar" data-image="icons/icon_calendar.gif">Calendar</option>
   <option value="shopping_cart" data-image="icons/icon_cart.gif">Shopping Cart</option>
   <option value="cd" data-image="icons/icon_cd.gif">CD</option>
   <option value="email"  selected="selected" title="icons/icon_email.gif">Email</option>
   <option value="faq" data-image="icons/icon_faq.gif">FAQ</option>
   <option value="games" data-image="icons/icon_games.gif">Games</option>
 </select>