<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>CodePen - timer1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="clock">

	<div class="row">

		<div class="g-100">

			<h1 class="clock__title">巨巨太強啦</h1>

	

			<div class="clock__counter"
           id = "clock">00</div>

			<div class="clock__round-counter"
           id = "clock_round">0/{{sets}}}}</div>

		</div>

	</div>	

	<div class="row">

		<div class="g-33">休息秒數 <input id="input_pause" type="text" value={{data['rest']}}></div>

		<div class="g-33">組數 <input id="input_cycles" type="text" value={{data['sets']}}></div>
    
		<div class="g-50"><button class="controller__button-start" id="button_start" onclick="display();">開始休息！</button></div>

		<div class="g-50"><button class="controller__button-stop" id="button_stop" onclick="closeWindow();" >動作結束！</button></div>
    

	</div>

	<div class="row">

	</div>	

</div>
</body>
</html>
<!-- partial -->
  <script  src="{{ url_for('static', filename ='js/script.js')}}"></script>

</body>
</html>
