<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>CodePen - timer1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="clock">

	<div class="row">

		<div class="g-100">

			<h1 class="clock__title">巨巨太強啦</h1>

	

			<div class="clock__counter">000</div>

			<div class="clock__round-counter">0/8</div>

		</div>

	</div>	

	<div class="row">

		<div class="g-33">Round (in sec.) <input id="input_round" type="text" value="0"></div>

		<div class="g-33">休息秒數 <input id="input_pause" type="text" value="10"></div>

		<div class="g-33">組數 <input id="input_cycles" type="text" value="8"></div>

		<div class="g-50"><button class="controller__button-start" onclick="start();">開始休息！</button></div>

		<div class="g-50"><button class="controller__button-stop" onclick="stop();">動作結束！</button></div>

	</div>

	<div class="row">

	</div>	

</div>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<button class="btn">輸入資料</button>
	<ul class="info">
	</ul>
	<script type="text/javascript">

	</script>
</body>
</html>
<!-- partial -->
  <script  src="{{ url_for('static', filename ='js/script.js')}}"></script>

</body>
</html>
